@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@700&display=swap');

.app {
  display: flex;
  padding: 30px;
  justify-content: center;
  margin-top: 15px;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid rgb(0, 0, 0);

}

.game img {
  width: 70px;
  height: 70px;
}

.score-board {
  align-items: center;
  margin-left: 96px;
  font-family: 'Reem Kufi Fun', sans-serif;
  color: gold;
}

.banner {
  margin-right: 96px;
}

.logo {
  width: 300px;
}

body {
  background-color: aqua;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp2347633.jpg&f=1&nofb=1')
}