@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@700&display=swap');

.app {
  display: flex;
  padding: 30px;
  justify-content: center;
  margin-top: 15px;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(62, 97, 203);
  border: 1px solid rgb(7, 7, 113);
  border-radius: 10px;
  position: absolute;
  left: 700px;
  top: 150px;

}

.game img {
  width: 70px;
  height: 70px;
}

.score-board {
  align-items: center;
  margin-left: 96px;
  font-family: 'Reem Kufi Fun', sans-serif;
  color: #fa3200;
  z-index: 10;
}

.banner {
  margin-right: 96px;
}

.logo {
  width: 300px;
  position: absolute;
  top: 500px;
}

body {
  background-color: aqua;
  background-image: url('./images/background.png')
}